<div id="top-series" class="container px-2 py-3 my-3">
  <div class="d-flex justify-content-between align-items-center">
    <div><h2 class="fs-3 fw-bold"><%= title %></h2></div>
    <a href="<%= path %>" target="_blank" class="top-more-link">
      <p class="pe-none"><%= "#{title}を見る" %></p>
      <span class="top-more-btn">
        <!-- app/helpers/application_helper.rbに定義しているヘルパーを呼び出す -->
        <%= embedded_svg("arrow-right.svg") %>
      </span>
    </a>
  </div>
  <div class="top-series">
    <div class="container top-series-slider">
      <% @series.each_with_index do |series, i| %>
        <div>
          <%= link_to user_series_path(id: series&.id), 'data-turbolinks': true, target: "_blank" do %>
            <picture class="w-100">
              <% if series&.thumbnail.attached? %>
                <source srcset="<%= url_for(series&.thumbnail) %>">
                <%= image_tag(series.thumbnail, class: "w-100", alt: "イチオシ画像", decoding: "async") %>
              <% else %>
                <%= image_tag("sample-thumbnail.jpg", class: "w-100", alt: "イチオシ画像", decoding: "async") %>
              <% end %>
            </picture>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
