<div class="l-container">
  <%= render partial: "layouts/admin/article_menu" %>
  <div class="l-main-view">
    <div class="sw-main-header">
      <div class="sw-main-header-title">
        <%= @banner&.name %>
      </div>
    </div>
    <div class="sw-main-body">
      <ul class="breadcrumb p-3">
        <%= render :partial => "admin/banners/breadcrumb/index" %>
        <%= render :partial => "admin/banners/breadcrumb/show" %>
        <%= render :partial => "admin/banners/breadcrumb/edit" %>
      </ul>
      <div class="section">
        <%= render :partial => "admin/flash" %>
      </div>
      <%= render :partial => "admin/banners/form_attributes" %>
    </div>
  </div>
</div>
