<%= form_with model: [:admin, @article], local: true do |f| %>
  <div class="section">
    <div class="d-flex justify-content-between border-bottom pb-3">
      <div></div>
      <div class="d-flex">
        <div>
          <button class="btn btn-primary"><%= t "buttons.save" %></button>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="card mb-5">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 mt-3">
            <%= f.label :current_status, class: "mb-1 form-label text-small text-muted" do %>
              <%= t "activerecord.attributes.article.current_status" %>
            <% end %>
            <%= f.select :current_status, Article.current_statuses.keys.map{|k| [t("activerecord.enum.article.current_status.#{k}"), k]}, {}, data: { controller: "select" } %>
            <div class="invalid-feedback"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-3">
            <%= f.label :title, class: "mb-1 form-label text-small text-muted" do %>
              <%= t "activerecord.attributes.article.title" %>
            <% end %>
            <%= f.text_field :title, autofocus: true, class: "form-control", placeholder: "" %>
          </div>
          <div class="col-md-12 mt-3">
            <%= f.label :subtitle, class: "mb-1 form-label text-small text-muted" do %>
              <%= t "activerecord.attributes.article.subtitle" %>
            <% end %>
            <%= f.text_field :subtitle, autofocus: true, class: "form-control", placeholder: "" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mt-3">
            <%= f.label :thumbnail, class: "mb-1 form-label text-small text-muted" do %>
              <%= t "activerecord.attributes.article.thumbnail" %>
            <% end %>
            <%= f.file_field :thumbnail, class: "form-control #{'is-invalid' if f.object.errors.full_messages_for(:thumbnail)[0].present? }" %>
            <div class="text-danger">
              <%= @article.errors.full_messages_for(:thumbnail)[0] %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mt-3">
            <%= f.label :title, class: "mb-1 form-label text-small text-muted" do %>
              <%= t "activerecord.attributes.article.published_at" %>
            <% end %>
            <%= f.date_field :published_at, autofocus: true, class: "form-control" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-3">
            <%= f.label :content, class: "mb-1 form-label text-small text-muted" do %>
              <%= t "activerecord.attributes.article.content" %>
            <% end %>
            <%= f.rich_text_area :content %>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-5">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6 mt-3">
            <%= f.label :category_id, class: "mb-1 form-label text-small text-muted" do %>
              <%= t "activerecord.attributes.category.name" %>
            <% end %>
            <%= f.select :category_id, @categories.pluck(:name, :id), { include_blank: 'カテゴリを選択' }, data: { controller: "select" } %>
            <div class="invalid-feedback"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mt-3">
            <%= f.label :author_id, class: "mb-1 form-label text-small text-muted" do %>
              <%= t "activerecord.attributes.author.name" %>
            <% end %>
            <%= f.select :author_id, @authors.pluck(:name, :id), { include_blank: '著者を選択' }, data: { controller: "select" } %>
            <div class="invalid-feedback"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mt-3">
            <%= f.label :article_series, class: "mb-1 form-label text-small text-muted" do %>
              <%= t "activerecord.attributes.article.article_series" %>
            <% end %>
            <%= f.fields_for :article_series do |article_series| %>
              <div>
                <%= article_series.select :series_id, Series.all.pluck(:title, :id), { prompt: '連載を選択' }, data: { controller: "select" } %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mt-3">
            <%= f.label :article_tags, class: "mb-1 form-label text-small text-muted" do %>
              <%= t "activerecord.attributes.article.article_tag" %>
            <% end %>
            <div>
              <%= f.collection_check_boxes :tag_ids, Tag.order(:id).all, :id, :name do |tag| %>
                <label class="form-check-label me-2">
                  <%= tag.check_box class: "form-check-input" do %>
                    <%= tag.check_box + tag.text %>
                  <% end %>
                  <%= tag.label { tag.text } %>
                </label>
              <% end %>
            </div>
            <div class="invalid-feedback"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
