<div class="sw-main-body-table table-responsive">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>ステータス</th>
        <th>タイトル</th>
        <th>公開日</th>
        <th>サムネイル</th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td class="rowlink">
            <%= link_to admin_article_path(id: article&.id) do %>
            <% end %>
          </td>
          <td style="min-width: 125px;">
            <div class="status-mark <%= article&.current_status %>"></div>
            <%= t "activerecord.enum.article.current_status.#{article&.current_status}" %>
          </td>
          <td style="min-width: 125px;">
            <%= article&.title %>
          </td>
          <td style="min-width: 150px;">
            <%= article&.published_at %>
          </td>
          <td style="width: 150px; min-width: 150px; max-height: 75px; padding: 12px;">
            <% if article&.thumbnail.attached? %>
              <%= image_tag(article&.thumbnail) %>
            <% else %>
              画像なし
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
