<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Auth</title>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <nav id="navbar_top" class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container-fluid">
        <a href="/" class="navbar-brand p-2 fw-bold">
          <%= t("service.name") %> Admin
        </a>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
