<footer class="bd-footer bg-light">
  <div class="py-5">
    <div class="container py-5 max-width-980">
      <div class="row">
        <div class="col-lg-3 mb-3">
          <a href="/" aria-label="" class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none">
            <span class="fs-5"><%= t("service.name") %></span>
          </a>
          <ul>
            <li>
              <svg class="bi bi-envelope" fill="currentColor" height="1em" viewbox="0 0 16 16" width="1em" xmlns="http://www.w3.org/2000/svg">
                <path d="M14 3H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z" fill-rule="evenodd"></path>
                <path d="M.05 3.555C.017 3.698 0 3.847 0 4v.697l5.803 3.546L0 11.801V12c0 .306.069.596.192.856l6.57-4.027L8 9.586l1.239-.757 6.57 4.027c.122-.26.191-.55.191-.856v-.2l-5.803-3.557L16 4.697V4c0-.153-.017-.302-.05-.445L8 8.414.05 3.555z"></path>
              </svg>
              <a href=<%= "mailto:#{t("service.contact")}" %>><%= t("service.contact") %></a>
            </li>
          </ul>
        </div>
        <div class="col-6 col-lg-3 mb-3">
          <h5>プロダクト</h5>
          <ul class="list-unstyled">
            <li class="mb-2">
              <%= link_to about_path do %>
                <%= t("service.about") %>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="col-6 col-lg-3 mb-3">
          <h5>ガイド</h5>
          <ul class="list-unstyled">
            <li class="mb-2">
              <%= link_to privacy_path do %>
                <%= t("service.privacy") %>
              <% end %>
            </li>
            <li class="mb-2">
              <%= link_to terms_path do %>
                <%= t("service.terms") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
