<div class="l-container">
  <%= render partial: "layouts/admin/article_menu" %>
  <div class="l-main-view">
    <div class="sw-main-header">
      <div class="sw-main-header-title">
        <%= t ".title" %>
      </div>
      <div class="sw-main-header-buttons">
        <div class="sw-main-header-button">
          <%= link_to new_admin_short_url_path, class: "btn btn-primary" do %>
            <%= t "buttons.create" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="sw-main-body">
      <ul class="breadcrumb p-3">
        <%= render partial: "admin/short_urls/breadcrumb/index" %>
      </ul>
      <%= render partial: "admin/short_urls/index_table" %>
    </div>
  </div>
</div>
